body {
    margin: 0px;
}
header {
    position: absolute;
    left: 500px;
    top: 20px;
    width: fit-content;
    height: 48px;
    background: white;
    border-radius: 5px;
    border: 1px solid rgb(155, 155, 155);
    z-index: 64;
    transition: 1s;
    display: flex;
}
header > h2 {
    font-family: "recipe_korea";
    color: #70b0ff;
    margin-block-start: 0px;
    margin-block-end: 0px;
    line-height: 54px;
    font-size: 14pt;
}
.unselectable {
    user-select: none;
}
.icon_wrapper {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: url('./icons/subway.svg');
}
.header_divider {
    position: relative;
    width: 1px;
    height: 100%;
    background: rgb(195, 195, 195);
    margin-left: 15px;
}
.header_btn_shared {
    position: relative;
    width: 48px;
    height: 100%;
    transform: scale(0.6);
    background-size: 100% 100% !important;
    border: none;
}
.marker_on_btn {
    background: url('./icons/marker.svg');
}
.marker_off_btn {
    background: url('./icons/marker_hide.svg');
}
.mapview {
    position: absolute;
    width: 100%;
    height: 100%
}
.expendarea {
    position: relative;
    width: 480px;
    height: 100%;
    z-index: 32;
    background: white;
    transition: 1s;
    border-right: 1px solid rgb(155, 155, 155);
}
.userbox {
    position: relative;
    width: 100%;
    height: 68px;
    border-bottom: 1px solid rgb(155, 155, 155);
}
.userbox > p {
    position: absolute;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 10pt;
    left: 10px;
    top: 8px;
    font-family: "nanum_gothic_yethangul";
}
.userbox_input {
    position: absolute;
    width: 94%;
    height: 25px;
    left: 10px;
    bottom: 10px;
}
.expendbtn {
    position: relative;
    width: 24px;
    height: 48px;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
}